/* Global styles
________________*/
* {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;

}

/* Header styles
________________*/
header {
    background-color: rgb(36, 73, 49) ;
}

nav {
        height: 100px;
    text-align: right;
}

ul {
    background-color: rgb(36, 73, 49);
}

li {
    background-color: rgb(36, 73, 49);
    color: white;
    text-align: right;
    display: inline;
    font-size: 20px;

}


    


/* Class Selectors */

.text-center {
text-align: center;
}

.text-right {
    text-align: right;
}